// Place all the styles related to the properties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

hr{
    border-width: 1px 0px 0px 0px;
    border-style: solid;
    border-color: black;
    height: 1px;
}